.single-order-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}

p{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
}

#active-orders-table {
  border: 3px solid;
  border-radius: 8px;
  padding: 10px;
}

img {
  border-radius: 12px;
}
td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

button {
  background-color: transparent;
  border: 3px solid;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 25px;
}
