.outer-container {
  padding: 20px;
}

#accept-button {
  background-color: #F2784B;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.order-button {
  background-color: transparent;
  border: 2px solid;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 15px;
}

#active-orders-table {
  border-radius: 8px;
  border: 3px solid;
  padding: 20px;

  th, td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
  }

  th {
    font-size: 20px;
  }
}


#past-orders-table {
  border: 3px solid;
  border-radius: 8px;
  background-color: #acaaaa;
  padding: 20px;

  th, td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
  }

  th {
    font-size: 20px;
  }

}
