
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap">



<header>
  <nav>
    <span id="nav-brand">Grubbin' Eats</span>
  </nav>
</header>



