<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap">

<header>
<nav>
<img src ="/images/brand_icon.png" width="60" height="60" >
<span id="nav-brand">Grubbin' Eats</span>
</nav>
</header>
