button {
  background-color: orange;

}

#active-orders-table {
  border-collapse: collapse;

  th, td {
    border: 3px solid;
    padding: 5px;
  }

  th { background-color: green}
  button {
    width: 150px;
  }

}


#past-orders-table {
  border-collapse: collapse;

  th, td {
    border: 3px solid;
    padding: 5px;
  }

  th {
    background-color: rosybrown;
  }

  button {
    width: 150px;
  }

}
